* {
  box-sizing: border-box;
  text-align: center;
  margin: 0; }

header {
  background: #888888 url(../images/site-intro.jpg) no-repeat;
  background-size: 100% 100%;
  text-aling: center; }
  header h1 {
    width: 35%;
    height: 150px;
    float: left;
    margin-top: 0;
    margin-left: 5px;
    background: url(../images/home_banner.png) center no-repeat; }
  header ul li {
    display: inline;
    color: #DDD;
    margin-right: 7px; }
    header ul li a {
      text-decoration: none;
      color: #DDD; }

.main-nav {
  width: 40%;
  margin: 0 auto; }

.second-nav {
  float: right;
  margin-top: 0;
  margin-right: 25px; }

.shop-intro-panel {
  margin-top: 0;
  height: 350px;
  text-align: center;
  color: #EEEEEE;
  text-shadow: 1px 2px #444;
  width: 35%;
  margin: 0 auto;
  padding-top: 150px; }

.display-box-quarter {
  width: 25%;
  height: 300px;
  float: left; }

.display-box-half {
  width: 50%;
  height: 200px;
  float: left; }

.display-box-fifth {
  width: 20%;
  height: 150px;
  float: left; }

#link-banner {
  position: relative;
  margin-top: 100px;
  height: 100px;
  clear: both; }

#image1 {
  background: #777 url(../images/image-1.jpg); }

#image2 {
  background: #777 url(../images/image-2.jpg); }

#image3 {
  background: #777 url(../images/image-3.jpg); }

#image4 {
  background: #777 url(../images/image-4.jpg); }
